<%# cssは商品出品のものを併用しています。
app/assets/stylesheets/items/new.css %>

<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= render "shared/second-header"%>
  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">不満に関する情報を入力</h2>
    <%= form_with model: @complaints, local: true do |f| %>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
    <%# render 'shared/error_messages', model: f.object %>
    <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"タイトル名 例) タンスの角について", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          不安・不満・不便の内容
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :text, class:"items-text", id:"item-info", placeholder:"内容 例）小指をぶつけてしまい、とても痛かった。タンスの角につけるカバーが欲しい。" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"sell-btn" %>
      <%=link_to 'もどる', complaint_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <%= render "shared/second-footer"%>
    <p class="inc">
      ©︎Crowis,Inc.
    </p>
  </footer>
</div>