<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
<%= render "shared/humburger" %>
<div class="mainView">
<%= render "shared/header" %>

<div class='main'>  
  <%# 投稿一覧 %>
  <div class='item-contents'>
    <%= link_to '新規投稿一覧', "#", class: "title" %>
    <ul class='item-lists'>
      <% @complaints.each do |complaints| %>
      <li class='list'>
        <%= link_to complaint_path(complaints.id) do %>
          <h1 class='item-name'>
            <%= complaints.title %>
          </h1>
          <div class='complaint-text'><%= simple_format(h(complaints.text)) %></div>
        <% end %>
        <%# 共感ボタン %>
          <div id = "like-<%= complaints.id %>">
            <%= render  partial: 'shared/empathy', locals: { complaints: complaints } %>
          </div>
        <%# /共感ボタン %>
      </li>
      <% end %>
    </ul>
  </div>
  <%# /投稿一覧 %>

  <%= link_to  new_complaint_path do %>
    <div class='purchase-btn'>
      <span class='purchase-btn-text'>投稿する</span>
    </div>
  <% end %>
  <%= render "shared/footer" %>
</div>