<%= render "shared/header" %>
<div class='main'>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <%= link_to '新規投稿一覧', "#", class: "title" %>
    <ul class='item-lists'>
      <% @complaints.each do |complaints| %>
      <li class='list'>
        <%= link_to complaint_path(complaints.id) do %>
          <h1 class='item-name'>
            <%= complaints.title %>
          </h1>
            <p class='complaint-text'><%= complaints.text %></p>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
        </div> 
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>

  <%# //商品一覧 %>
</div>
<%= link_to  new_complaint_path do %>
  <div class='purchase-btn'>
    <span class='purchase-btn-text'>投稿する</span>
  </div>
<% end %>
<%= render "shared/footer" %>