<%= render "shared/humburger" %>

<div class="mainView">
<%= render "shared/header" %>
<div class="show">
<div class="item-comment-box">
<%# 投稿の概要 %>
  <div class="item-box">
    <div class="mk">
      <h2 class="name">
        <%= @complaints.title %>
      </h2>
      <% if user_signed_in? && current_user.id == @complaints.user_id %>
      <div class= "edit-delete">
        <%= link_to '編集', edit_complaint_path(@complaints.id), method: :get, class: "item-red-btn" %>
        <%= link_to '削除', complaint_path(@complaints), method: :delete, class:'item-destroy' %>
      </div>
      <% end %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= raw simple_format(Rinku.auto_link(@complaints.text)) %>
      </span>
    </div>
    <div class="option">
      <div class="favorite-btn">
        <span class= fovorite-btn-font >それな 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な投稿内容の通報</span>
      </div>
    </div>
  </div>
  <%# /投稿の概要>
  
  <%# コメント欄 %>
  <div class="comment-box">
    <div class= "comment-list">
    <% @comments.each do |comment| %>
      <div class="message">
        <div class="upper-message">
          <div class="message-user">
            <%= comment.user.nick_name %>
          </div>
          <div class="message-date">
            <%= comment.created_at %>
          </div>
        </div>
        <div class="lower-message">
          <div class="message-content">
            <%= raw simple_format(Rinku.auto_link(h(comment.comment))) %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <%= form_with model: @comment, url:complaint_comments_path(@complaints.id), local: true  do |f| %>
      <%= f.text_area :comment, class:"comment-text", placeholder:"コメントを入力してください" %>
      <%= f.submit "コメントする", class:"click-down" %>
    <% end %>
  </div>
  <%# /コメント欄 %>

  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前へ
    </a>
    <a href="#" class="change-item-btn">
      後へ ＞
    </a>
  </div>
  <%= link_to "戻る", root_path, class:'another-item' %>
</div>

<%= render "shared/footer" %>
</div>